* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 80px;
    background-color: black;
    color: white;
}

h1 {
    line-height: 80px;
    margin-left: 10px;
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    height: calc(100vh - 100px);
    position: relative;
}

.school {
    padding: 30px;
    margin-top: 20px;
    float: left;
    width: 45%;
}

#teachers {
    border: 2px solid grey;
}

#pm {
    border: 2px solid lightgreen;
    margin-left: 5%;
}
