* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 80px;
    background-color: black;
    color: white;
}

h1 {
    line-height: 80px;
    margin-left: 10px;
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    height: calc(100vh - 100px);
    position: relative;
}

.student {
    margin-bottom: 10px;
    border: 2px solid grey;
    padding: 10px;
}

.student h2 {
    font-size: 16px;
}
